/*
 Theme Name:   SRK Child Theme
 Theme URI:    https://bestwpware.com/themes-wp/srk/
 Description:  This is srk Child Theme
 Author:       theme_ocean
 Author URI:   https://www.templatemonster.com/vendors/theme_ocean/
 Template:     srk
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:  two-columns, right-sidebar
 Text Domain:  srk-child
*/


body{
	
	overflow-x: hidden;
}
a:hover,
a:focus,
a:active{
	text-decoration: none;
}

.our_video a {
    display: none!important;
}

.address_bg {
    display:  flex!important;
    flex-direction:  column!important;
}

.hx-container {
    max-width:  1140px;
    padding:  0 15px;
    margin:  0 auto;
    color:  #fff;
}

.top-header_social {
    background-color:  #282828!important;
}

.inner_container {
    display:  flex;
    justify-content:  flex-end;
}

.inner_container a {
    color:  #fff;
    text-decoration:  none;
    margin-left:  20px;
}

.inner_container a:hover {
    color:  blue;
}

#service .row {
    display:  flex!important;
    justify-content:  center!important;
}